@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
:root {
  --bodyColor: #e3f2fd;
  --primaryColor: #5372f0;
  --formText: black;

  --principalCard: #f7fa58;
  --principalCard2: #2cc2f0;
  --principalCard3: #467ed3;
  --principalCard4: #5946d3;

  --othersCards1: #6a6ba8;
  --othersCards2: #349fb9;
}

body {
  background-color: var(--bodyColor);
}

.darkTheme {
  --bodyColor: #353a3d;
  --primaryColor: #344179;
  --formText: white;

  --principalCard: #d3f4f5;
  --principalCard2: #959b9c;
  --principalCard3: #6c6c75;
  --principalCard4: #59595c;

  --othersCards1: #464c4e;
  --othersCards2: #627a81;
}

.container {
  display: flex;
  gap: 35px;
  padding: 30px 30px 0 30px;
}

#themeChanger {
  cursor: pointer;
  font-size: 20px;
  width: 20px;
}

.fa-sun {
  color: yellow;
}

.fa-arrow-up {
  color: red;
}

.fa-arrow-down {
  color: #00aeff;
}

.fa-map-location-dot {
  font-size: 30px;
  color: var(--primaryColor);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.02));
  border: 1px solid var(--principalCard4);
  padding: 15px;
  border-radius: 100%;
}

.fa-magnifying-glass {
  cursor: pointer;
  color: #00000050;
  font-size: 16px;
}

header {
  background-color: var(--primaryColor);
  width: 100vw;
  height: 50px;
  margin: 0;
  padding-right: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25%;
}

.weather-input {
  width: 500px;
  height: 40px;
  outline: none;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

#city-input {
  width: 95%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 5px;
  font-size: 14px;
}

.weather-data {
  width: 100%;
}
.details > span {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  top: 105px;
  margin-left: 5px;
}

.current-weather {
  color: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    215deg,
    var(--principalCard),
    var(--principalCard2),
    var(--principalCard3),
    var(--principalCard4)
  );
}

h3 {
  color: white;
  margin-bottom: 12px;
}

h4 {
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 500;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon h4 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 12px 0;
}

.current-weather .icon img {
  max-width: 120px;
}

.days-forecast {
  font-size: 16px;
  margin: 20px 0;
}

.weather-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.weather-cards .card {
  list-style: none;
  color: white;
  padding: 18px 16px 5px 16px;
  border-radius: 5px;
  background: linear-gradient(35deg, var(--othersCards1), var(--othersCards2));
  width: calc(100% / 4);
  height: 260px;
  flex: 1;
}

.weather-cards .card img {
  max-width: 70px;
  margin: 5px 0 -12px 0;
}

.card h2 {
  text-align: center;
  font-size: 16px;
}

.card .max-min {
  font-size: 12px;
}

img[src="https://openweathermap.org/img/wn/01d@2x.png"]
{
  filter: sepia(70%) saturate(7) brightness(2);
}

img[src="https://openweathermap.org/img/wn/10d@2x.png"],
img[src="https://openweathermap.org/img/wn/02d@2x.png"]
{
  filter: hue-rotate(49deg) saturate(10);
}

/* Tablets */
@media (max-width: 596px) {
  .weather-input {
    width: 450px;
  }
  #city-input {
    width: 90%;
  }
}

/* Celulares */
@media (max-width: 432px) {
  .weather-cards .card {
    width: calc(100% / 3);
  }
}

@media (max-width: 406px) {
  .current-weather {
    padding: 10px;
  }
  .icon {
    width: 80px;
  }
}
